$dimensions: ("m": "margin", "p": "padding");
$directions: ("t": "top", "b": "bottom", "r": "right", "l": "left");

@each $dim in $dimensions {
    @for $i from 0 through 6 {
        $size: $i * 5;

        .#{nth($dim, 1)}-#{$size} {
            #{nth($dim, 2)}: #{$size}px !important;
        }
    }

    @each $dir in $directions {
        @for $i from 0 through 6 {
            $size: $i * 5;

            .#{nth($dim, 1)}#{nth($dir, 1)}-#{$size} {
                #{nth($dim, 2)}-#{nth($dir, 2)}: #{$size}px !important;
            }
        }
    }
}
